@page "/serie"
@attribute [StreamRendering]
@inject FileService FileService;

<h1>Series</h1>
<br />

@if (list is null)
{
    <MudProgressLinear Indeterminate="true" Color="Color.Primary" Size="Size.Medium" Striped="true" />
}
else
{
    <MudTable Items="@list" Hover="true" Dense="true" Bordered="true" Breakpoint="Breakpoint.None" Filter="new Func<Serie,bool>(FilterFunc1)">
        <ToolBarContent>
            <MudTextField @bind-Value="searchString" Placeholder="Search" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>

        <HeaderContent>
            <MudTh Class="text-center w-10">#</MudTh>
            <MudTh>Name</MudTh>
            <MudTh Class="text-center w-15">Progress</MudTh>
        </HeaderContent>

        <RowTemplate>
            <MudTd Class="text-center">@GetRowNumber(context)</MudTd>
            <MudTd>@context.Name</MudTd>
            <MudTd Class="text-center">@context.Progress</MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager PageSizeOptions="new int[] { 20, 50, 100, int.MaxValue }" />
        </PagerContent>
    </MudTable>
}

@code
{
    private List<Serie>? list;
    private string searchString = "";

    protected override async Task OnInitializedAsync()
    {
        list = await FileService.ReadSerieFileAsync();
    }

    protected int GetRowNumber(Serie context)
    {
        if (list is null)
            return 0;

        return list.IndexOf(context) + 1;
    }

    private bool FilterFunc1(Serie element) => FilterFunc(element, searchString);

    private bool FilterFunc(Serie element, string input)
    {
        if (string.IsNullOrWhiteSpace(input))
            return true;
        if (element.Name.Contains(input, StringComparison.OrdinalIgnoreCase))
            return true;
        return false;
    }
}